<header>
  <main>
    <div class="header_img"></div>

    <!-- <section class="header_nav">
      <div class="container">
        <img id="header_logo" src="/images/BookBagApp.png" />

        <h1 class="title">
          The Book Bag
        </h1>
        <p class="subtitle">
          Welcome to the Book Bag App <strong>Bulma</strong>!
        </p>
        -->

    <!-- </section>  -->
  </main>
</header>
