<% include ../partials/htmlHead.ejs %>

<body>
  <% include ../partials/htmlHeader.ejs %>
  <div class="parent-container">
    <h1>Edit Student Form</h1>
    <form action="/home/teacher/<%=currentUser.id%>?_method=PUT" method="POST">
      <fieldset id="edituser">
        <div class="field is-horizontal">
          <!-- <div class="field-label is-normal">
            <label class="label" for="first_name">First name: </label>
          </div> -->
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="first_name"
                  placeholder="first name"
                />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="last_name"
                  placeholder="last name"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <!-- <div class="field-label is-normal">
            <label class="label" for="username">username: </label>
          </div> -->
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left has-icons-right">
                <input
                  class="input is-success"
                  type="text"
                  name="username"
                  placeholder="username"
                />

                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <p class="help is-success">This username is available</p>
            </div>
            <div class="field">
              <!-- <label class="label">Email</label> -->
              <div class="control has-icons-left has-icons-right">
                <input
                  class="input is-success"
                  type="email"
                  name="email"
                  placeholder="email"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <!-- <span class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle"></i>
                </span> -->
              </div>
              <!-- <p class="help is-danger">This email is invalid</p> -->
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <!-- <div class="field-label is-normal">
            <label class="label" for="password">password: </label>
          </div> -->
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left">
                <input
                  class="input"
                  type="password"
                  name="password"
                  placeholder="password"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>
            <!-- <div class="field-label is-normal">
              <label class="label" for="account_type">Account Type: </label>
            </div> -->

            <div class="field">
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="account_type"
                  placeholder="account type: student/teacher"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-small">
            <label class="label" for="reading_level"
              >Guided Reading Level(GRL):
            </label>
          </div>
          <div class="field-body is-normal">
            <div class="field">
              <div class="control is-expanded">
                <input class="input" type="text" name="reading_level" />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="book_bag">In Book Bag: </label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control is-expanded">
                <input class="input" type="text" name="book_bag" />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="completed">Completed: </label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control is-expanded">
                <input class="input" type="text" name="completed" />
              </div>
            </div>
          </div>
        </div>
        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <input
              class="button is-primary"
              type="submit"
              name=""
              value="Edit User"
            />
          </div>
          <div class="control">
            <a class="button is-link is-light" href="/home/teacher">Cancel</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</body>
