<% include ../partials/htmlHead.ejs %>

<body>
  <% include ../partials/htmlHeader.ejs %>
  <% include ../partials/htmlNav.ejs %>

  <!-- <div id="test">Hi Jennie</div> -->
<div class="parent-container">
  <a href="/books/newBook">Create a New Book</a></br>
  <a href="/home/teacher">Back to Classroom</a></br>
  <a href="/home">Log Out</a></br>

  
  
  <h2>Book Library</h2>
  
  <ul class="container is-fluid columns is-multiline">
  <%for(let i=0; i<books.length; i++){%>
    <li class="column is-one-third">
      <p><a href="/books/<%=books[i].id; %>"><%=books[i].title%></a> </p>
      <img class="index-image" src="<%=books[i].image%>">
      <p>Reading level: <%=books[i].reading_level%></p>
    </li>
    <%}%>
  </ul>
  </div>
  <% include ../partials/htmlFoot.ejs%>
</body>
</html>