<% include ../partials/htmlHead.ejs %>

<body>
  <table id="reading_report" style="width:100%">
    <tr>
      <th id="firstname_header">Firstname</th>
      <th id="lastname_header">Lastname</th>
      <th id="readinglevel_header">Reading Level</th>
      <th id="details_header">Report</th>
    </tr>
  </table>

  <nav>
    <a href="/books">View Book Library</a><br />
    <a href="/home">Log Out</a>
  </nav>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>
