<% include ../partials/htmlHead.ejs %>

<body>
  <table id="reading_report" style="width:100%">
    <tr>
      <th class="firstname">Firstname</th>
      <th class="lastname">Lastname</th>
      <th class="reading_level">Reading Level</th>
      <th class="students_book_bag">Currently Reading:</th>
    </tr>
  </table>

  <nav>
    <a href="/books">View Book Library</a><br />
    <a href="/home">Log Out</a>
  </nav>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>
