<% include ../partials/htmlHead.ejs %>
<body>
  <% include ../partials/htmlHeader.ejs %>
  <div class="parent-container">
    <h1>New Book Form</h1>
    <form action="/books" method="POST">
      <fieldset id="newbook">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="title">Title: </label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="title" />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="author">Author: </label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="author" />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="category" name="category"
              >Category:
            </label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control is-expanded">
                <input
                  class="input"
                  type="text"
                  name="category"
                  placeholder="fiction/nonfiction"
                />
              </div>
            </div>

            <div class="field-label is-normal">
              <label class="label" for="genre">Genre: </label>
            </div>
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="genre" />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="quantity">Quantity: </label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <input
                  class="input"
                  type="number"
                  name="quantity"
                  placeholder="numeric"
                />
              </div>
            </div>
            <div class="field-label is-small">
              <label class="label" for="reading_level"
                >Guided Reading Level(GRL):
              </label>
            </div>
            <div class="field is-narrow">
              <div class="control">
                <input class="input" type="text" name="reading_level" />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="tags">Tags: </label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="tags" />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="image">Image path: </label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="image"
                  placeholder="Insert image URL here"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <input
              class="button is-primary"
              type="submit"
              name=""
              value="Create Book"
            />
          </div>
          <div class="control">
            <a class="button is-link is-light" href="/home/teacher">Cancel</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <% include ../partials/htmlFoot.ejs%>
</body>
