<% include ../partials/htmlHead.ejs %>

<body>
  <h2>Welcome to the Book Bag App!</h2>
  <h3>Ready for a great read? Log in below or sign up: </h3>


  <!-- <button onclick="location.href = '/sign-up';" id="sign-up">Sign Up</button></br> -->

  <button onclick="location.href ='/home/log-in';" id="log-in">Log In</button></br>



  <!-- <button type></button> <br />

  <button></button><br /> -->

  <p>
    “The more that you read, the more things you will know. The more that you
    learn, the more places you’ll go.” – Dr. Seuss
  </p>

  <% include ../partials/htmlFoot.ejs%>
</body>