<% include ../partials/htmlHead.ejs %>
<body>
  <h2 id="greet">Hello <%=currentStudent.first_name%>!</h2>

  <h3>Your reading level is: <%=currentStudent.reading_level%></h3>

  <ul>
    Here is your reading list: 
    <%for(i=0; i<currentStudent.book_bag.length; i++){%>
    <%=currentStudent.book_bag[i].title%>
    <%}%>
  </ul>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>
